html {
    font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, YuGothic, "Hiragino Kaku Gothic", Meiryo, sans-serif;
    font-size: 62.5%;
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

*, *:before, *:after {
    box-sizing: border-box;
}

.markdown ul, .markdown ol {
    @apply mt-0 mr-0 mb-8 ml-8 text-2xl font-normal list-outside;
}
.markdown ul {
    @apply list-disc;
}
.markdown ol {
    @apply list-decimal;
}
.markdown li  {
    @apply leading-loose;
}
.markdown h2, .markdown h3, .markdown h4 {
    @apply font-bold;
}
.markdown h2:not(.article-title) {
    @apply text-4xl md:text-3xl font-bold mt-10 mb-12;
}
.markdown h3 {
    @apply text-3xl md:text-2xl font-bold mt-6 mb-8;
}
.markdown h4 {
    @apply text-2xl font-bold mt-4 mb-4;
}
.markdown p {
    @apply font-normal mb-8 text-2xl leading-loose;
}
.markdown math {
    @apply font-normal mb-8 text-2xl;
}
.markdown table,
.markdown th,
.markdown td {
    @apply border bg-slate-50;
}
.markdown th,
.markdown td {
    @apply font-normal mb-8 text-2xl leading-loose p-3;
}
.markdown a {
    @apply text-blue-700 underline;
}
.markdown blockquote {
    @apply mx-0 my-3 p-2;
}
.markdown blockquote p {
    @apply p-4 mb-0 border-l-4 border-neutral-200 text-neutral-600;
}
.markdown hr {
    @apply mb-4;
}
.markdown p code,
.markdown li code {
    @apply bg-neutral-200 text-neutral-500 p-2;
}
.markdown .img {
    @apply max-w-6xl my-11 mx-auto mb-7;
}
.markdown .img img {
    @apply mx-auto align-top;
}
.markdown .caption {
    @apply block text-center mt-4;
}
.astro-code {
    padding: 10px;
    @apply my-2 text-xl mb-8;
}
