---
const {posts} = Astro.props;
const sorted = posts.sort((post1, post2) => {
    return post1.publishDate > post2.publishDate ? -1 : 1;
});
---

<nav class="px-6">
    <ul class="p-0 m-0 flex flex-col gap-y-3">
        {sorted.map((post) => {
            return (
                <li class="leading-relaxed text-xl">
                    <a class="text-neutral-900" href={`/blog/${post.title}/`}>{post.title}</a>
                </li>
            );
        })}
    </ul>
</nav>
