---
const {posts} = Astro.props;
const sorted = posts.sort((post1, post2) => {
    return new Date(post2.data.publishDate).getTime() - new Date(post1.data.publishDate).getTime();
});
---

<nav>
    <ul class="p-0 m-0 flex flex-col gap-y-3">
        {sorted.map(({data, slug}) => {
            return (
                <li class="leading-snug text-xl mt-2">
                    <a class="text-neutral-900" href={`/blog/${slug}/`}>{data.title}</a>
                </li>
            );
        })}
    </ul>
</nav>
