---
const {posts} = Astro.props;
const categoryList = [];

posts.forEach((articleData) => {
    const {tags} = articleData.data;

    tags.forEach((tag) => {
        if (!categoryList.includes(tag)) {
            categoryList.push(tag);
        }
    });
})
---
<nav>
    <ul class="p-0 m-0 flex flex-col gap-y-3">
        {categoryList.map((category) => {
            return (
                <li class="leading-snug text-xl mt-1">
                    <a class="text-neutral-900" href={`/category/${category}/`}>{category}</a>
                </li>
            );
        })}
    </ul>
</nav>
