---
import {getCollection} from 'astro:content';
import CategoryList from "./CategoryList.astro";
import ArticleList from "./ArticleList.astro";
const allPosts = await getCollection('blog', ({data}) => {
    return import.meta.env.PROD ? data.draft !== true : true;
});
---

<div class="w-1/4 order-2 mt-28 mb-0 md:mt-0 md:w-full">
    <section class="str-article-section">
        <h2 class="mb-6 text-2xl font-bold">カテゴリ</h2>
        <CategoryList posts={allPosts} />
        <h2 class="mb-6 text-2xl font-bold mt-12">記事</h2>
        <ArticleList posts={allPosts} />
        <h2 class="mb-6 text-2xl font-bold mt-12">連絡先</h2>
        <p class="text-xl">何か間違っている情報などがあれば<a href="https://twitter.com/tkskto/">Twitter</a>にてメッセージください。</p>
        <h2 class="mb-6 text-2xl font-bold mt-12">ご注意</h2>
        <p class="text-xl">このBlogはアクセスデータをGoogle Analyticsに送信しています。また研究開発用にSentryにパフォーマンスデータを送信しています。それ以外のデータは収集していません。</p>
    </section>
</div>
